a{
    font-size: 20px !important;
    width: 600px;
    border-radius: 30px !important;
    background-color: antiquewhite;
    color: black;
}
body{
    background-position:center;
    background-size: cover;

}